:root {
  --color-canvas-back: #f6f8fa;
  --color-fg: #0d1117;
  --color-hl: #0969da;
  --ff-mono: ui-monospace, 'SFMono-Regular', 'SF Mono', 'Menlo', 'Consolas',
    'Liberation Mono', monospace;
  --ff-sans: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Noto Sans',
    'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

  background-color: var(--color-canvas-back);
  color-scheme: light dark;
  color: var(--color-fg);
  font-family: var(--ff-sans);
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-kerning: normal;
  text-size-adjust: 100%;
  word-break: break-word;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-canvas-back: #0d1117;
    --color-fg: #f6f8fa;
    --color-hl: #58a6ff;
  }
}

* {
  box-sizing: border-box;
  line-height: calc(1 * (1em + 1ex));
}

body {
  margin: 0;
}

code,
kbd,
pre,
textarea,
.write,
.draw {
  font-family: var(--ff-mono);
  font-feature-settings: normal;
  font-size: smaller;
}

.controls {
  background-color: var(--color-canvas-back);
  color: var(--color-fg);
  padding: calc(1ex);
  padding-top: 0;
}

.controls label {
  display: block;
  font-size: smaller;
}

.draw,
.write {
  background: transparent;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  height: 100%;
  letter-spacing: normal;
  line-height: calc(1 * (1em + 1ex));
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  resize: none;
  tab-size: 4;
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;
}

.editor {
  left: 0;
  width: 50%;
}

.editor,
.result {
  bottom: 0;
  overflow: auto;
  position: fixed;
  top: calc(3 * (1em + 1ex));
}

.editor-inner {
  margin: 8px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.github-corner svg {
  height: calc(6.5 * (1em + 1ex));
  width: calc(6.5 * (1em + 1ex));
  z-index: 1;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.page-header {
  font-size: inherit;
  margin: calc(1 * (1em + 1ex));
}

.show-big {
  display: none;
}

.result {
  left: 50%;
  padding: calc(1em + 1ex);
  right: 0;
}

.write {
  -webkit-print-color-adjust: exact;
  caret-color: var(--color-hl);
  color: transparent;
  position: absolute;
  print-color-adjust: exact;
  top: 0;
}

.write::selection {
  color: var(--color-fg);
  background-color: hsl(42.22deg 74.31% 57.25% / 66%);
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (width <= 40em) {
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  .github-corner:hover .octo-arm {
    animation: none;
  }
}

@media (width >= 40em) {
  html {
    font-size: 1.125em;
  }

  .controls {
    border-bottom-left-radius: 1ex;
    position: fixed;
    right: 50%;
    top: calc(3 * (1em + 1ex));
    z-index: 4;
  }

  .show-big {
    display: initial;
  }
}
